.container-fluid
  .navbar
    .navbar-inner
      .container
        - if user_signed_in?
          = link_to '#', class: 'btn btn-navbar', data: { toggle: 'collapse', target: '.nav-collapse' } do
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        = link_to 'Github StatusBoard', root_path, class: 'brand'

        %ul.nav
          %li.divider-vertical

        %ul.nav.pull-right
          %li.divider-vertical
          - if user_signed_in?
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = current_user.email
                %b.caret

              %ul.dropdown-menu
                %li= link_to 'sign out', destroy_user_session_path, :method => :delete

          - else
            %li= link_to 'sign in', new_user_session_path

        .nav-collapse
          - if user_signed_in? and current_user.admin?
            %ul.nav.pull-right
              %li= link_to 'admin', rails_admin.dashboard_path
